@import "reset";

* {
  box-sizing: border-box;
}
body {
  background-color: black;
}

.container {
  position: absolute;
  width: 32.5vw;
  height: 50.3vw;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%) !important;
  overflow: hidden;
  .poster {
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .border {
    background-image: url(../img/border.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .planet {
    background-image: url(../img/planet.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .thumb {
    background-image: url(../img/thumb.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    transform-origin: 10% 50%;
    width: 50vw;
    height: 50vw;
    top: -13vw;
    right: -22vw;
    animation: hitcharide 2s linear infinite;
    // animation-delay: 4s;
    z-index: 2;
  }
  .thumb-container {
    height: 23vw;
    width: 24vw;
    border-radius: 1000000px;
    overflow: hidden;
    position: absolute;
    left: 4.5vw;
    top: 13.9vw;
  }
  .ring {
    background-image: url(../img/ring.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .thg {
    background-image: url(../img/theHitchhikersGuide.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: clockwise 3s 1 linear;
    z-index: 2;
    // opacity:0;
  }
  .ttg {
    background-image: url(../img/toTheGalaxy.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: counterclockwise 3s 1 linear;
    z-index: 2;
    // opacity:0;
  }
  .top-cloud {
    background-image: url(../img/fulltopcloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -25% !important;
    z-index: 2;
  }
  .cloud {
    background-image: url(../img/fullcloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 150%;
    height: 100%;
    z-index: 2;
    top: 18% !important;
    left: -25% !important;
  }
  .stars-in-out {
    background-image: url(../img/twinkling.png);
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: randomtwinkle 100s linear infinite;
  }
  .twinkle {
    animation: twinkle 1s linear;
  }
  @keyframes twinkle {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .greendude {
    background-image: url(../img/greendude.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .mouth {
    background-image: url(../img/mouth.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .tongue {
    background-image: url(../img/tongue.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
  .fourCluster {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    .fourStarOne {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 44.79vw;
      left: 24.78vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarTwo {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 45.1vw;
      left: 23.9vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarThree {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 45.2vw;
      left: 23.007vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarFour {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 45.4vw;
      left: 21.99vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarFive {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 45.6vw;
      left: 21.1vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarSix {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 44.6vw;
      left: 21.6vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarSeven {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 43.6vw;
      left: 22.2vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarEight {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 42.5vw;
      left: 22.9vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarNine {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 41.5vw;
      left: 23.4vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarTen {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 42.8vw;
      left: 23.6vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarEleven {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 44vw;
      left: 23.7vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarTwelve {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 46.2vw;
      left: 24.1vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .fourStarThirteen {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 47.2vw;
      left: 24.3vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
  }
  .twoCluster {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    .twoStarThirteen {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 42.4vw;
      left: 25.5vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarOne {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 41.6vw;
      left: 25.7vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarTwo {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 40.9vw;
      left: 26.19vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarThree {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 40.65vw;
      left: 27.2vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarFour {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 41.1vw;
      left: 28.1vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarFive {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 41.75vw;
      left: 28.4vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarSix {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 42.85vw;
      left: 28.65vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarSeven {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 44.35vw;
      left: 28.15vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarEight {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 45.55vw;
      left: 27.5vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarNine {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 46.6vw;
      left: 26.9vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarTen {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 46.4vw;
      left: 28vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarEleven {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 46.2vw;
      left: 29vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
    .twoStarTwelve {
      position: absolute;
      width: 0.25vw;
      height: 0.25vw;
      background-color: #fbfbfb;
      top: 45.9vw;
      left: 30vw;
      box-shadow: 0px 0px 10px 2px white;
      border-radius: 20vw;
    }
  }
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes counterclockwise {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 1;
  }
}

@keyframes hitcharide {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes randomtwinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes beginningtwinkle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
